@model IEnumerable<mPodroznik.ViewModel.BusStopViewModel>

@{
    ViewBag.Title = "Trasa";
}

<h2>Linia nr: @Model.Select(b => b.BusID).FirstOrDefault()</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Przystanek numer</th>
                <th>Przystanek</th>
                <th>Szerokosc</th>
                <th>Dlugosc</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: busStops">
            <tr>
                <td data-bind="text: busStopOrder"></td>
                <td data-bind="text: busStopName"></td>
                <td data-bind="text: gpsLat"></td>
                <td data-bind="text: gpsLng"></td>
                <td>
                    <a data-bind="attr: {href: '@Url.Action("Edit")/' + id}" class="btn btn-primary">Edytuj</a>
                    <a data-bind="attr: {href: '@Url.Action("Delete")/' + id}" class="btn btn-danger">Usun</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Aplication/busStops.js")
    <script>
        var viewModel = new ViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}